# Data Cleaning
> notebook that creates the kerry datasets.
- author: Richard Castro
- toc: false
- badges: false
- comments: false
- categories: [Matrix]
- image: images/logo.png
- hide: true
- search_exclude: true

SET VARIABLES FOR THIS REPORT

In [ ]:
#collapse-hide
client= input('client')
report=input('report type: US or World')
today=
yesterday=
WeekRange=

In [1]:
#collapse-hide
#IMPORT LIBRARIES AND DATA SET FILES
import pandas as pd
tn=pd.read_csv('../_data/tn.csv')
rt=pd.read_csv('../_data/rt.csv')
fl=pd.read_csv('../_data/fl.csv')
cen=pd.read_csv('../_data/cen.csv')

In [2]:
#collapse-hide
tn.columns=map(str.lower, tn.columns)
tnCol=['date', 'state', 'county', 'test_pos', 'test_neg', 'test_tot','test_new', 'cases_confirmed',
       'new_cases_confirmed','cases_tot', 'cases_new', 'deaths_tot','deaths_new']
tnC=tn[tnCol]
tnA=tnC.rename(columns={'test_pos':'testP', 'test_neg':'testN', 'test_tot':'testT','test_new':'testNew', 'cases_confirmed':'casesConfirmed',
      'cases_tot':'CaseT', 'cases_new':'CasesNew', 'deaths_tot':'deathT','deaths_new':'deathNew'})

rt.columns=map(str.lower, rt.columns)
rt=rt.rename(columns={'region':'state'})
rtCol=['date', 'state', 'mean']
rta=rt[rtCol]

fl.columns=map(str.lower, fl.columns)
flA=fl.rename(columns={'test_t':'testT', 'test_n':'testN', 'test_p':'testP', 'deaths_tot':'deathT', 'cases_c':'casesConfirmed'})

cen.columns=map(str.lower, cen.columns)
cenCol=['fips', 'stname', 'ctyname','popestimate2019']
cena=cen[cenCol]
cena=cena.rename(columns={'stname':'state', 'ctyname':'city', 'popestimate2019':'pop'})
cena

       fips    state               city     pop
0      1001  Alabama     Autauga County   55869
1      1003  Alabama     Baldwin County  223234
2      1005  Alabama     Barbour County   24686
3      1007  Alabama        Bibb County   22394
4      1009  Alabama      Blount County   57826
...     ...      ...                ...     ...
3137  56037  Wyoming  Sweetwater County   42343
3138  56039  Wyoming       Teton County   23464
3139  56041  Wyoming       Uinta County   20226
3140  56043  Wyoming    Washakie County    7805
3141  56045  Wyoming      Weston County    6927

[3142 rows x 4 columns]